/* ==========================================================================
   App Stylesheet
   website.less
   ========================================================================== */
/* Vendor Styles and Setting (bootstrap > variables)
   ======================================================================== */
/* ==========================================================================
   App related variables.
   ========================================================================== */
/* ==========================================================================
   Bootstrap related variables.
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie|Anton);
.ui.labeled.icon.menu .item {
  min-width: 5.8em;
}
.ui.vertical.inverted.menu .item:before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.03) 0, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
}
/* Mixins (User defined mixins)
   ======================================================================== */
/* Components
   ======================================================================== */
a {
  text-decoration: none !important;
}
#main-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  /* Comment below if bootstrap
  bottom:0;
  padding-bottom:45px;
  height:auto;
  min-height:auto;
  display:block;*/
}
#app-menu {
  height: 100%;
  width: 350px;
  position: absolute;
  overflow: hidden;
}
#app-menu footer {
  height: 50px;
  width: 100%;
  background-color: #2d537a;
}
#app-section {
  position: absolute;
  width: calc(100% - 350px);
  height: 100%;
  margin-left: 350px;
  overflow: auto;
  background-color: #1d1e1e;
  border-left: 2px solid #333535;
}
#app-section .kz-loading {
  background-color: #1d1e1e;
}
#app-section .kz-loading .loader {
  color: #bbb;
  font-size: 14px;
}
#app-section .kz-section-content .ui-map-grid-container {
  margin-left: 10px;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 50px);
  overflow: auto;
  border: 1px solid #444;
}
/* 404 */
.server-error {
  font-size: 35px;
  color: black;
  font-family: 'Reenie Beanie', cursive;
  margin-top: 45px;
}
.text-medium-size {
  font-size: 17px;
}
.content-page {
  padding-top: 80px;
  max-width: 950px;
  margin: 0 auto;
}
.kz-right {
  float: right;
}
nav {
  display: none;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?77807374');
  src: url('../fonts/fontello.eot?77807374#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?77807374') format('woff'), url('../fonts/fontello.ttf?77807374') format('truetype'), url('../fonts/fontello.svg?77807374#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77807374#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
}
.icon-help:before {
  content: '\e800';
}
/* '' */
.icon-notify:before {
  content: '\e801';
}
/* '' */
.icon-chat:before {
  content: '\e802';
}
/* '' */
.icon-angle-down:before {
  content: '\e803';
}
/* '' */
.icon-cubes:before {
  content: '\e808';
}
/* '' */
.icon-window:before {
  content: '\e80d';
}
/* '' */
.icon-chart-bar:before {
  content: '\e80f';
}
/* '' */
.icon-chart-line:before {
  content: '\e810';
}
/* '' */
.icon-cart-2:before {
  content: '\e811';
}
/* '' */
.icon-infinity:before {
  content: '\e812';
}
/* '' */
.icon-infinity-outline:before {
  content: '\e813';
}
/* '' */
.icon-basket-alt:before {
  content: '\e818';
}
/* '' */
.icon-help-circled-alt:before {
  content: '\e819';
}
/* '' */
.icon-cart:before {
  content: '\e81c';
}
/* '' */
.icon-android:before {
  content: '\e81d';
}
/* '' */
.icon-chat2:before {
  content: '\e81e';
}
/* '' */
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  width: 80px;
  height: 15px;
  border: 0;
}
.navbar-default {
  border: 0;
  border-bottom: 2px solid #b3c9e5;
}
.navbar-default span {
  font-size: 28px;
}
.navbar-default ul li.navbar-custom,
.navbar-brand {
  float: none;
}
.navbar-default ul li.navbar-custom {
  height: 50px;
}
.navbar-default ul li.navbar-custom div.circle {
  width: 36px;
  height: 36px;
  background-color: #95bcd6;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin-top: 4px;
  text-align: center;
}
.navbar-default ul li.navbar-custom a:hover div.circle {
  background-color: #243E53;
}
.navbar-default ul li.navbar-custom.active a:hover div.circle {
  background-color: #95bcd6;
}
.navbar-default ul li.navbar-custom div.circle span {
  font-size: 17px;
  margin-top: 5px;
}
.navbar-default ul.navbar-right li a {
  color: #ddd;
}
.nav-user-settings {
  padding: 0 7px;
  width: 110px;
  cursor: pointer;
}
.nav-user-settings span {
  font-size: 12px;
  color: #f2f2f2;
}
.nav-user-settings div:first-child {
  width: 25px;
  height: 25px;
  background: #ddd;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  float: left;
  margin-top: 8px;
}
.nav-user-settings div:first-child img {
  width: 25px;
  height: 25px;
}
.nav-user-settings div:last-child {
  margin-top: 10px;
  margin-left: 35px;
}
.nav-user-settings div:last-child span:first-child {
  font-weight: bold;
}
.navbar-default ul.dropdown-menu {
  margin-top: 8px;
  background-color: #637b8c;
  border-color: #b3c9e5;
}
.navbar-default ul.dropdown-menu a:hover {
  background-color: #7c9cb2;
}
#app-menu .kz-menu-index {
  background-color: #1d1e1e;
}
#app-menu .kz-menu-item {
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  color: #95bcd6;
  padding: 13px 0;
}
#app-menu .kz-menu-item:first-child {
  background-color: #333535;
  color: white;
}
#app-menu .kz-menu-item i {
  margin-bottom: 0 !important;
}
#app-menu .kz-menu-item:hover {
  color: white;
}
#app-menu .kz-menu-item.bottom {
  position: absolute;
  bottom: 0;
}
#app-menu .kz-menu-container {
  display: inline-block;
  left: 64px;
  width: 286px;
  background-color: #333535;
  border: 0;
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.1);
}
#app-menu .kz-menu-container .kz-menu-header {
  height: 44px;
  background-color: #1d1e1e;
  width: 100%;
  display: table;
  text-align: center;
  margin-bottom: 20px;
}
#app-menu .kz-menu-container .kz-menu-header-text {
  font-size: 20px;
  text-decoration: none;
  color: #95bcd6;
  display: table-cell;
  vertical-align: middle;
}
#app-menu .kz-menu-container .kz-menu-content {
  height: calc(100% - 85px);
  width: 100%;
  text-align: left;
  padding: 0 25px 0 25px;
  overflow: auto;
  color: #bbb;
  /*Why can I change the opacity? */
  /* Level 2 */
}
#app-menu .kz-menu-container .kz-menu-content .ui-folderdrop-container {
  height: calc(100% - 20px);
  margin: 10px;
  border: 1px dashed #bbb;
  text-align: center;
  padding: 20px;
  display: table;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='12' y='30' fill='grey' fill-opacity='0.4' font-size='10'>Drop folder here!</text></svg>");
}
#app-menu .kz-menu-container .kz-menu-content .ui-folderdrop-label {
  display: table-cell;
  vertical-align: middle;
  transform: rotate(335deg);
  font-family: 'Helvetiva Neue', Helvetica, Arial, sans-serif;
}
#app-menu .kz-menu-container .kz-menu-content .ui-folderdrop-error {
  position: absolute;
  background-color: #333535;
  border: 2px solid #913d3d;
  padding: 9px;
  text-align: center;
  color: #913d3d;
}
#app-menu .kz-menu-container .kz-menu-content .ui-tit_white {
  font-family: Lato-Black, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}
#app-menu .kz-menu-container .kz-menu-content .ui-level1 {
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  border-bottom: 1px solid #777F82;
  padding: 0 20px 20px 0;
  line-height: 24px;
  margin-bottom: 12px;
  margin-top: 10px;
}
#app-menu .kz-menu-container .kz-menu-content .ui-level1 a {
  color: #bbb;
  text-decoration: none;
}
#app-menu .kz-menu-container .kz-menu-content .ui-level1 li {
  list-style: none;
}
#app-menu .kz-menu-container .kz-menu-content .ui-level1 li:active {
  /*list-style-image: url('../../images/menu/icon_bullet_blue.svg');
        opacity: 1.0;*/
}
#app-menu .kz-menu-container .kz-menu-content .ui-level1 li a:hover {
  opacity: 0.5;
  list-style-image: url('../img/menu/icon_bullet_blue.svg');
}
#app-menu .kz-menu-container .kz-menu-content .ui-level2 {
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 14px;
  color: #bbb;
  border-bottom: 1px solid #777F82;
  padding: 9px 0 15px 15px;
  margin-bottom: 13px;
  margin-top: 0;
}
#app-menu .kz-menu-container .kz-menu-content .ui-level2 a {
  color: #bbb;
}
#app-menu .kz-menu-container .kz-menu-content .ui-level2 li {
  list-style: url('../img/menu/icon_board.svg');
  margin-left: 12px;
  width: 266px;
  line-height: 26px;
  cursor: pointer;
}
#app-menu .kz-menu-container .kz-menu-content .ui-level2 li:hover {
  list-style-image: url('../img/menu/icon_board2.svg');
  color: #ACACAC;
}
#app-menu .kz-menu-container .kz-menu-content .ui-level2 li:active {
  list-style-image: url('../img/menu/icon_board3.svg');
  background: no-repeat left;
  color: #1FD1D2;
}
#app-menu .kz-menu-container .kz-menu-content .kz-menu-search-input {
  width: 260px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding: 15px 35px 15px 15px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 15px;
  outline: none;
  font: normal normal normal 14px / normal Arial;
  color: rgba(255, 255, 255, 0.4);
}
#app-section .kz-nav-menu {
  height: 45px;
}
#app-section .kz-section-content {
  height: calc(100% - 45px);
}
.background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 45px;
}
.background-image-overlap {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.github_badge {
  background-color: #627b8e;
  overflow: hidden;
  /* top left corner */
  position: fixed;
  right: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #303030;
  z-index: 100;
}
.github_badge a {
  border: 1px solid #7c9cb2;
  color: #303030;
  display: block;
  font: 81.25% 'Reenie Beanie', 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 1px 0 1px 0;
  padding: 6px 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0.8em #444444;
}
/*
span.github_icon
{
  background-image: url('../img/signin/github-24.png');
  width:24px;
  height:24px;
  display:inline-block;
  float:right;
  position:relative;
  top:-3px;
  left:6px;
}
*/
#footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: #627b8e;
  box-shadow: -1px 0px 4px #000;
  color: black;
  overflow: hidden;
  text-align: center;
}
#footer p {
  color: black;
  text-shadow: 1px 0px #606060;
  font-family: 'Reenie Beanie', cursive;
  font-size: 20px;
}
@media all and (max-width: 680px) {
  #footer .credit {
    visibility: hidden;
  }
}
#footer .credit {
  margin: 10px 0;
}
#footer .credit a {
  color: #101010;
  text-decoration: none;
}
.panel-security-check {
  border-radius: 2px;
  box-shadow: 0px 0px 5px #f4efef;
  border: 0;
  opacity: .82;
  filter: alpha(opacity=82);
  /* For IE8 and earlier */
  width: 450px;
  height: 320px;
  top: 50%;
  left: 50%;
  margin-top: -182px;
  margin-left: -225px;
  position: absolute;
  background-color: white;
}
.background-image-overlap canvas {
  z-index: 1;
}
/*#html5-icon
{
  background-image: url('../img/signin/html5-36.png');
  width:36px;
  height:36px;
  float:left;
  position:relative;
  top:11px;
  left:5px;
  cursor:pointer;
}*/
.panel-security-check form {
  padding-bottom: 25px;
}
.panel-security-check .btn-custom {
  position: relative;
  font-size: 16px;
  height: 40px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-security-check input[type='submit'].btn-custom {
  background-color: #7c9fd3;
  -o-transition: .8s;
  -ms-transition: .8s;
  -moz-transition: .8s;
  -webkit-transition: .8s;
  /* ...and now for the proper property */
  transition: .8s;
}
.panel-security-check input[type='submit'].btn-custom:hover {
  background-color: #6d8ebc;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}
.panel-security-check input[type='text'],
.panel-security-check input[type='password'],
.panel-security-check input[type='email'] {
  font-size: 15px;
  color: #627b8e;
}
.panel-security-check .btn-custom:focus {
  z-index: 2;
  border-color: #627b8e;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(57, 128, 186, 0.6);
  outline: 0 none;
}
.panel-security-check .logo-img {
  margin-top: 4px;
  width: auto;
  height: 46px;
}
.panel-security-check .form-loading {
  opacity: 0.4;
}
.panel-security-check .loading-svg {
  background-image: url(../img/common/loading-cylon.svg);
  background-repeat: no-repeat;
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}
.panel-security-check .forgot-icon {
  position: absolute;
  top: 155px;
  left: 405px;
  font-size: 18px;
  color: #7c9fd3;
  cursor: pointer;
  z-index: 10;
}
.forgot-form {
  margin-top: 45px;
}
