*~
*.sublime-workspace
*.idea
.vagrant
root/npm-debug.log
root/public/vendor
root/docs/html
root/node_modules
root/.env
root/es5
root/dbpath
root/releases
root/src/settings/secrets.js
.DS_Store
npm-debug.log
root/media/game_data
