<div class="content" style="border:1px solid #bbb; border-radius: 10px; color: #929292;font-size: 12px; padding: 15px;">
	<p>Hola {{_user.firstname}},</p>
	<p>
		Parece que este es tu primer día en el curro, así que antes que nada &#8230; ¡déjame darte la enhorabuena!
	</p>
	<p>
		Sinceramente deseamos que durante el tiempo que estés con nosotros lo pases bien. Justo aquí debajo dispones de los datos que necesitarás para poder ingresar en la aplicación:
	</p>

	<p>Nombre de usuari@: <strong>{{_user.username}}</strong></p>
	<p>Contraseña: <strong>{{password}}</strong></p>

	<p>--------</p>
	<p>Tlf: 95135051, Ctra Cártama, C.C. La Trocha.</p>
	<p>Si recibistes este correo por error, por favor ignora el mismo y perdone las molestias.</p>
</div>
