<!DOCTYPE html>
<html lang="en">
<head>

	<title>{{website.title}}</title>
	<base href="/">

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

 	<!-- Semantic META -->
	<meta name="keywords" content="{{website.keywords}}">
	<meta name="description" content="{{website.description}}">

	<!-- Fav icon -->
	<link href="{{website.favico}}" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in website.assets.cssFiles %}
	<link rel="stylesheet" href="{{cssFile}}" media="screen">
	{% endfor %}

	<!--Templates block-->
	<!-- {% block templates %}{% endblock %} -->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body ng-cloak>

  {% include 'templates/header.html' %}

  {% block application %}

    <section class="container">
      <div ui-view ng-cloak></div>
    </section>

  {% endblock %}
  
  {% include 'templates/footer.html' %}

  <!--Embedding The User Object-->
  <script type="text/javascript">
    window.__user = {{ user | json | safe }};
  </script>
  
  <!--Application JavaScript Files-->
  {% for jsFile in website.assets.jsFiles %}
  <script src="{{jsFile}}"></script>
  {% endfor %} 

</body>
</html>
