@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie|Anton);

a
{
  text-decoration: none !important;
}

#main-container
{
  position:absolute;
  top:0;
  left:0;
  min-height: 100%;
  height: 100%;
  width:100%;
  min-width:100%;
  overflow:hidden;

  /* Comment below if bootstrap
  bottom:0;
  padding-bottom:45px;
  height:auto;
  min-height:auto;
  display:block;*/
}

#app-menu {

  height:100%;
  width: 350px;
  position: absolute;
  overflow:hidden;
  // border-right: 3px solid rgba(45, 83, 122, 0.7);

}

#app-menu footer{

  height: 50px;
  width: 100%;
  background-color: #2d537a;
  // background-color: #95bcd6;

}

#app-section {

  position: absolute;
  width: ~"calc(100% - 350px)";
  height: 100%;
  margin-left:350px;
  overflow: auto;
  background-color: @color-1;
  border-left: 2px solid @color-4;

  .kz-loading {

      background-color: @color-1;
  }

  .kz-loading .loader{

      color: #bbb;
      font-size: 14px;
  }

  .kz-section-content .ui-map-grid-container{

    margin-left: 10px;
    position: absolute;
    width: ~"calc(100% - 40px)";
    height: ~"calc(100% - 75px)";
    overflow: hidden;
    border: 1px solid #444;

  }

  .kz-section-content .ui-map-horizontal-scrollbar{
    margin-left: 10px;
    position: absolute;
    width: ~"calc(100% - 40px)";
    height: 20px;
    // border: 1px solid #444;
    bottom: 10px;
    overflow-x: scroll;
  }

  .kz-section-content .ui-map-vertical-scrollbar{
    // margin-left: 10px;
    position: absolute;
    height: ~"calc(100% - 75px)";
    width: 20px;
    // border: 1px solid #444;
    right: 10px;
    overflow-y: scroll;
  }

}



/* 404 */
.server-error
{
  font-size: 35px;
  color: black;
  font-family: 'Reenie Beanie', cursive;
  margin-top: 45px;
}

.text-medium-size
{
  font-size: 17px;
}

.content-page {

  //width: ~"calc(100% - 250px)";
  padding-top: 80px;
  max-width: 950px;
  margin: 0 auto;
}

.kz-right{

  float:right;

}

.ui-map-vertical-scrollbar::-webkit-scrollbar {
    width: 3px;
}

.ui-map-vertical-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #bbb;
}

.ui-map-vertical-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bbb;
}

// .ui-map-vertical-scrollbar::-webkit-scrollbar-button {
//
//   background-color: transparent;
//
// }

.ui-map-vertical-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    background: white;
}

.ui-map-vertical-scrollbar::-webkit-scrollbar-track {

  // -webkit-box-shadow: inset 0 0 2px #bbb;
  // border-radius: 1px;
  background-color: grey;

}

.ui-map-vertical-scrollbar::-webkit-scrollbar-track-piece  {

  background-color: transparent;

}

.ui-map-vertical-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.ui-map-vertical-scrollbar::-webkit-resizer{

  background-color: transparent;
}


.ui-map-horizontal-scrollbar::-webkit-scrollbar {
    height: 3px;
}

.ui-map-horizontal-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #bbb;
}

.ui-map-horizontal-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bbb;
}

// .ui-map-vertical-scrollbar::-webkit-scrollbar-button {
//
//   background-color: transparent;
//
// }

.ui-map-horizontal-scrollbar::-webkit-scrollbar-thumb:window-inactive {
    background: white;
}

.ui-map-horizontal-scrollbar::-webkit-scrollbar-track {

  // -webkit-box-shadow: inset 0 0 2px #bbb;
  // border-radius: 1px;
  background-color: grey;

}

.ui-map-horizontal-scrollbar::-webkit-scrollbar-track-piece  {

  background-color: transparent;

}

.ui-map-horizontal-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.ui-map-horizontal-scrollbar::-webkit-resizer{

  background-color: transparent;
}


// .ui-map-horizontal-scrollbar::-webkit-scrollbar {
//
//   -webkit-appearance: none;
//    width: 12px;
//    background-color: transparent;
//
// }
//
// .ui-map-horizontal-scrollbar::-webkit-scrollbar-button {
//
//   background-color: red;
//
// }
//
// .ui-map-horizontal-scrollbar::-webkit-scrollbar-track {
//
//   // -webkit-box-shadow: inset 0 0 2px #bbb;
//   // border-radius: 1px;
//   // background-color: transparent;
//
// }
//
// .ui-map-horizontal-scrollbar::-webkit-scrollbar-track-piece  {
//
//   background-color: transparent;
//
// }
//
// .ui-map-horizontal-scrollbar::-webkit-scrollbar-thumb {
//
//   border-radius: 5px;
//
//   -webkit-box-shadow: inset 0 0 1px #bbb;
//   background-color: transparent;
//
// }
//
// .ui-map-horizontal-scrollbar::-webkit-scrollbar-corner {
//   background-color: transparent;
// }
//
// .ui-map-horizontal-scrollbar::-webkit-resizer{
//
//   background-color: transparent;
// }
//


/* Overwrite the default to keep the scrollbar always visible */

// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 15px;
// }
//
// ::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(255,255,255,.5);
//     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
// }

/** initial setup **/
// .nano {
//   position : relative;
//   width    : 100%;
//   height   : 100%;
//   overflow : hidden;
// }
// .nano > .nano-content {
//   position      : absolute;
//   overflow      : scroll;
//   overflow-x    : hidden;
//   top           : 0;
//   right         : 0;
//   bottom        : 0;
//   left          : 0;
// }
// .nano > .nano-content:focus {
//   outline: thin dotted;
// }
// .nano > .nano-content::-webkit-scrollbar {
//   display: none;
// }
// .has-scrollbar > .nano-content::-webkit-scrollbar {
//   display: block;
// }
// .nano > .nano-pane {
//   background : rgba(0,0,0,.25);
//   position   : absolute;
//   width      : 10px;
//   right      : 0;
//   top        : 0;
//   bottom     : 0;
//   visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
//   opacity    : .01;
//   -webkit-transition    : .2s;
//   -moz-transition       : .2s;
//   -o-transition         : .2s;
//   transition            : .2s;
//   -moz-border-radius    : 5px;
//   -webkit-border-radius : 5px;
//   border-radius         : 5px;
// }
// .nano > .nano-pane > .nano-slider {
//   background: #444;
//   background: rgba(0,0,0,.5);
//   position              : relative;
//   margin                : 0 1px;
//   -moz-border-radius    : 3px;
//   -webkit-border-radius : 3px;
//   border-radius         : 3px;
// }
// .nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
//   visibility : visible\9; /* Target only IE7 and IE8 with this hack */
//   opacity    : 0.99;
// }
