<!DOCTYPE html>
<html lang="en">
<head>

  <title>Kalzate</title>
  <base href="">

  <!-- General META -->
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Semantic META -->
  <meta name="keywords" content="">
  <meta name="description" content="">

  <!-- Fav icon -->
  <!--<link href="" rel="shortcut icon" type="image/x-icon">-->

  <!-- Application CSS Files -->
  <link rel="stylesheet" href="dist/animate.min.css" media="screen">
  <link rel="stylesheet" href="dist/styles.css" media="screen">

  <!-- Application JS Files -->
  <script src="dist/dependences.min.js"></script>

</head>
<body data-ng-cloak>

<div id="main-container">

  <div data-ui-view="menu"></div>

  <div data-ui-view="section"></div>

</div>

<script src="dist/build.min.js"></script>

</body>
</html>
