<form data-ng-submit="step2()" data-ng-class="{'form-loading': loading}" novalidate>
	<input type="text" placeholder="Código de Seguridad" class="form-control btn-custom" data-ng-model="code" />
	<div class="text-center text-medium-size">
		<small>Introduce el código de seguridad que le hemos enviado a su correo electrónico.</small>
	</div>
	<input type="submit" class="btn btn-lg btn-primary btn-block btn-custom" value="Quiero trabajar ya ;)"/>
	<div class="text-center text-medium-size">
		<small> ¡ No he recibido ningún correo ! <a class="text-primary" ui-sref="signin" title="signin for now!">Envíamelo de nuevo</a></small>
	</div>
</form>