<form data-ng-submit="step1()" class="forgot-form" data-ng-class="{'form-loading': loading}" novalidate>
	<input type="text" placeholder="Nombre de emplead@ o Correo electrónico" class="form-control btn-custom" data-ng-model="identifier" />
	<input type="submit" class="btn btn-lg btn-primary btn-block btn-custom" value="Recuperar Contraseña"/>
	<div class="text-center text-medium-size">
		<small> ¡ Creo que ya me acuerdo ! ... <a class="text-primary" ui-sref="signin" title="signin for now!">Voy a intentarlo</a></small>
	</div>
</form>