<section id="app-grid">
  <div id="app-me" class="content-page">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <aside>
          <ul>
            <li class="active"><a data-ui-sref="me.profile">Perfil</a></li>
            <li><a data-ui-sref="me.notification">Notificaciones</a></li>
            <li><a data-ui-sref="me.design">Diseño</a></li>
          </ul>
        </aside>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-content">
        <div data-ui-view></div>
      </div>
    </div>
  </div>
</section>