<div id="app-me-profile" data-ng-controller="MeProfile">
  <div  data-file-dropzone="[image/png, image/jpg, image/jpeg, image/gif]" 
        data-max-file-size="2" 
        data-on-file-change="newFile(file)" 
        data-file-input="true"
        data-file-error="imagesError" 
        data-file-loading="progress"
        data-read-file-as="data"
        class="profile-picture">
    <img src="/static/media/img/common/no_profile_big.png" />
  </div>
  <form>
    <div class="form-inline form-group">
      <label class="sr-only" for="exampleInputEmail2">Nombre</label>
      <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Nombre" tabindex="1">
      <label class="sr-only" for="exampleInputEmail2">Apellido</label>
      <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Apellido" tabindex="2">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Nombre Emplead@</label>
      <input type="text" class="form-control large" id="exampleInputEmail2" placeholder="Nombre Empleado" tabindex="3">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Email</label>
      <input type="email" class="form-control large" id="exampleInputEmail2" placeholder="Email" tabindex="4">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Tienda</label>
      <input type="email" class="form-control large" id="exampleInputEmail2" value="C.C. La Trocha" disabled>
    </div>
    <div class="form-inline form-group">
      <label class="sr-only" for="exampleInputEmail2">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputEmail2" placeholder="Contraseña" tabindex="5">
      <label class="sr-only" for="exampleInputEmail2">Repite Contraseña</label>
      <input type="password" class="form-control" id="exampleInputEmail2" placeholder="Repite Contraseña" tabindex="6">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block btn-custom large" tabindex="7">Guardar</button>
    </div>
  </form>
</div>