<img class="background-image" src="media/img/signin/shoes_2.jpg" />
<div class="background-image-overlap">
  <div class="github_badge">
    <a href="https://github.com/Tsur/kalzate-pos" target="_blank">Fork me on Github</a>
  </div>
  <div class="panel panel-default panel-security-check" data-ng-class="{'animated shake': error}">
    <div class="panel-body">
      <div class="text-center">
        <img src="media/img/common/logo.png" class="logo-img" alt="Kalzate Shoes Store Point Of Sale">
      </div>
      <!-- <div class="text-center logo-img"></div> -->
      <div data-ui-view></div>
      <div class="loading-svg" data-ng-show="loading"></div>
    </div>
  </div>
  <canvas data-canvas-animation></canvas>
  <div id="footer">
    <p class="text-center credit"><small>Boon Kalzate S.L. Copyright &copy; 2014 (Software desarrollado por <a href="http://scripturesos.com">Zurisadai Pavón</a>)</small></p>
  </div>
</div>
